@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  max-width: 90rem;
  min-width: 23rem;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  position: relative;
  margin: 0;
}

h5 {
  clear: both;
  font-weight: 600;
  margin: 1.5rem 0;
}

p {
  color: hsl(0, 0%, 81%);
  margin: 0;
}

/* All feedbacks */
.feedback {
  border-radius: .5rem;
  box-shadow: 0 0 7px hsl(217, 19%, 35%);
  margin: 0 auto;
  padding: 1.8rem;
  width: 90%;
}

img {
  border-radius: 50%;
  float: left;
}

.feedback-name {
  height: 3.5rem;
  margin-left: 4.5rem;
}

.feedback-name h6 {
  margin-bottom: 0;
  padding-top: .5rem;
}

#feedback1 {
  background: url(../images/bg-pattern-quotation.svg) no-repeat;
  background-color: hsl(263, 55%, 52%);  
  background-position-x: 95%;
  background-position-y: 2%;
  margin-top: 3rem;
}

#feedback1 h5,
#feedback1 h6,
#feedback2 h5,
#feedback2 h6,
#feedback4 h5,
#feedback4 h6
 {
  color: #fff;
}

#feedback2 {
  background-color: hsl(217, 19%, 35%); 
  margin-top: 1.5rem; 
}

#feedback3,
#feedback5 {
  background-color: #fff;
  color: hsl(217, 19%, 35%);
  margin-top: 1.5rem;
}

#feedback4 {
  background-color: hsl(219, 29%, 14%);
  margin-top: 1.5rem;
}

.attribution {
  margin: 1rem auto;
  align-items: center;
}
